@model CIPlatform.Entities.ViewModels.Admin_cms_crudModel

<div class="table-responsive">
    <table class="table" style="border:1px solid rgb(197, 195, 195);">
        <thead style="background: #F8F9FC 0% 0% no-repeat padding-box;
                                box-shadow: 0px 2px 3px #0000000F;">
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Action</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.CmsPage != null)
            {


                @foreach (var item in Model.CmsPage)
                {

                    <tr>
                        <td>
                            @item.Title
                        </td>
                        <td style="color: green;">@item.Status</td>
                        <td>
                            <a href="@Url.Action("Admin_edit_cms","Admin",new { CmsId = @item.CmsPageId })">
                                <svg style="color:orange;width: 20px;height: 20px;"
                             xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                             fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd"
                                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                </svg>
                            </a>
                        </td>
                        <td>
                            <button class="deletecms_admin" value="@item.CmsPageId"
                            style="background: none;padding: 0px;border:none;margin-left:4px;width:20px;height: 20px;"
                            data-bs-toggle="modal" data-bs-target="#admin-cms-delete">
                                <img style="width:20px;height: 20px;" class="img-fluid"
                             src="./images/bin.png">
                            </button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
