 @model CIPlatform.Entities.ViewModels.Admin_mission_theme
<div class="table-responsive">
    <table class="table" style="border:1px solid rgb(197, 195, 195);">
        <thead style="background: #F8F9FC 0% 0% no-repeat padding-box;
                                box-shadow: 0px 2px 3px #0000000F;">
            <tr>
                <th>Mission Title</th>
                <th>Mission Id</th>
                <th>User Id</th>
                <th>User Name</th>
                <th>Applied Date</th>
                <th>Action</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (@Model.missionapplication != null)
            {
                @foreach (var item in Model.missionapplication)
                {


                    <tr>
                        <td>@item.Mission.Title</td>
                        <td>@item.Mission.MissionId</td>
                        <td>@item.User.UserId</td>
                        <td>
                            @item.User.FirstName @item.User.LastName
                        </td>

                        <td>
                            @item.AppliedAt.ToString().Substring(0,10)
                        </td>
                        <td>
                            <button class="adminstoryapprovebtn adminapplicationapprovebtn" id="@item.MissionApplicationId">
                                <span class="close">&#10003;</span>
                            </button>
                        </td>
                        <td>
                            <button class="admin-story-cancel-btn adminapplicationdeletebtn" id="@item.MissionApplicationId">
                                <span class="close">&times;</span>
                            </button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
