@model CIPlatform.Entities.ViewModels.HomeModel
<div class="container">
    <div class="row pb-0 mt-2" style="font-size:19px">
        <div id="menubarimg" class="d-md-none">
            <button onclick="menubartoggle()">
                <img src="~/images/list.png"
                     alt="">
            </button>
        </div>
        <div class="col-6  leftnav">
            <a style="border: none; background: white;text-decoration:none;color:black;" href="@Url.Action("StoryListing", "Story")">Stories</a>
            <button style="border: none; background: white;" class="dropdown-toggle bg-light" type="button"
                    id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                Policy
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li class="dropdownnavbarlinks">
                    <button class="dropdown-item" type="button">
                        <a style="text-decoration:none;color:black;" href="@Url.Action("Privacy_policy", "Account")">Policy</a>
                    </button>
                </li>
                <li><button class="dropdown-item" type="button">Another action</button></li>
                <li><button class="dropdown-item" type="button">Something else here</button></li>
            </ul>
            <button style="border: none; background: white;" class="dropdown-toggle bg-light" type="button"
                    id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                Explore by
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" id="explore">

                <li class="p-1">
                    <a class="dropdown-item" name="highestseats" id="" />Top Ranked</a>
                </li>
                <li class="p-1">
                    <a class="dropdown-item" name="lowestseats" id="" />Top theme</a>
                </li>
                <li class="p-1">
                    <a class="dropdown-item" name="sortbydate" id="" />Top Favourite</a>
                </li>
                </li>
                <li class="p-1">
                    <a class="dropdown-item" name="lowestseats" id="" />Random</a>
                </li>
            </ul>
        </div>
        <div class="col-6 d-flex px-5 rightnav" id="ajaxtest">
            <div class="dropdown">
                <button id="notification-button" class="dropdown-toggle p-1 mx-3 border-0 bg-white" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="btn btn-warning rounded-circle p-1 m-0 position-absolute"
                          style="background-color:#F88634;color:white;top:-5px;right:31px;font-size:13px;"id="totalnotification"></span>
                    <img src="~/images/bell.png" alt="" />
                </button>
                    <ul id="notification-dropdown" class="dropdown-menu notificationdivRecently" style="width:485px;max-height: 400px;
                           overflow-y: scroll;">
                        <li id="notification-header-li" class="p-2 d-flex justify-content-between align-items-center">
                            <button class="bg-white border-0" data-bs-toggle="modal" data-bs-target="#navigation-setting-modal">
                                <img src="~/images/settings.png" />
                            </button>
                            <span>Notification</span>
                            <button class="bg-white border-0" id="clearnotificationbutton">Clear All</button>
                        </li>
                    </ul>
            </div>
            <img src="@Model.avatar" style="border-radius: 50%;height: 100%; padding: 4px;margin-right:10px;">
            <button value="@Model.id" style="border: none; background: white;" class="dropdown-toggle bg-light user-btn" type="button"
                    id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                @Model.username
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li class="dropdownnavbarlinks">
                    <button class="dropdown-item" type="button">
                        <a style="text-decoration:none;color:black;width:100%" href="@Url.Action("EditProfile", "Account")">Edit profile</a>
                    </button>
                </li>
                <li class="dropdownnavbarlinks">
                    <button class="dropdown-item" type="button">
                        <a style="text-decoration:none;color:black;;width:100%" href="@Url.Action("logout", "Account")">Logout</a>
                    </button>
                </li>
                <li class="dropdownnavbarlinks">
                    <button class="dropdown-item" type="button">
                        <a style="text-decoration:none;color:black;;width:100%" href="@Url.Action("VolunteeringTimesheet", "Account")">VolunteeringTimesheet</a>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Modal -->
    <div class="modal fade" id="navigation-setting-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin: 5vh 0vw 0vh 52vw;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title w-100 text-center" id="exampleModalLabel">Notification Settings</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p style="background-color:lightgray" class="w-100 p-1">Get notification for</p>
                    <div class="d-flex justify-content-between">
                        <span>Recommended Mission</span>
                        <input class="notification-setting-check" type="checkbox" id="RecommendedMission"/>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span>My Stories</span>
                        <input class="notification-setting-check" type="checkbox" id="StoryApproval" />
                    </div>
                    <div class="d-flex justify-content-between">
                        <span>New missions</span>
                        <input class="notification-setting-check" type="checkbox" id="NewMissionAdded" />
                    </div>
                    <div class="d-flex justify-content-between">
                        <span>Recommended story</span>
                        <input class="notification-setting-check" type="checkbox" id="RecommendedStory" />
                    </div>
                    <div class="d-flex justify-content-between">
                        <span>Mission application</span>
                        <input class="notification-setting-check" type="checkbox" id="MissionApplicationApproval" />
                    </div>
                    <div class="d-flex justify-content-between">
                        <span>Receive Notification by email</span>
                        <input class="notification-setting-check" type="checkbox" id="Receiveemailnotification" />
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button id="save-notification-btn" style="border: 1px solid orange;color: orange;border-radius: 10px;" 
                    class="me-1 orange-btn bg-white rounded-5 px-4 p-2" data-bs-dismiss="modal">Save</button>
                    <button type="submit" style="border: 1px solid black;color: black;border-radius: 10px;" 
                    class="ms-1 bg-white rounded-5 px-4 p-2" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>