@model CIPlatform.Entities.ViewModels.HomeModel
<div class="container">
    <div class="row pb-0 mt-2" style="font-size:19px">
        <div id="menubarimg" class="d-md-none">
            <button onclick="menubartoggle()">
                <img src="~/images/list.png"
                     alt="">
            </button>
        </div>
        <div class="col-6  leftnav">
            <a style="border: none; background: white;text-decoration:none;color:black;" href="@Url.Action("StoryListing", "Story")">Stories</a>
            <button style="border: none; background: white;" class="dropdown-toggle bg-light" type="button"
                    id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                Policy
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li class="dropdownnavbarlinks">
                    <button class="dropdown-item" type="button">
                        <a style="text-decoration:none;color:black;" href="@Url.Action("Privacy_policy", "Account")">Policy</a>
                    </button>
                </li>
                <li><button class="dropdown-item" type="button">Another action</button></li>
                <li><button class="dropdown-item" type="button">Something else here</button></li>
            </ul>
            <button style="border: none; background: white;" class="dropdown-toggle bg-light" type="button"
                    id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                Explore by
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" id="explore">

                <li class="p-1">
                    <a class="dropdown-item" name="highestseats" id="" />Top Ranked</a>
                </li>
                <li class="p-1">
                    <a class="dropdown-item" name="lowestseats" id="" />Top theme</a>
                </li>
                <li class="p-1">
                    <a class="dropdown-item" name="sortbydate" id="" />Top Favourite</a>
                </li>
                </li>
                <li class="p-1">
                    <a class="dropdown-item" name="lowestseats" id="" />Random</a>
                </li>
            </ul>
        </div>
        <div class="col-6 d-flex px-5 rightnav" id="ajaxtest">
            <div class="dropdown">
                <button id="notification-button" class="dropdown-toggle p-1 mx-3 border-0 bg-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="btn btn-warning rounded-circle p-1 m-0 position-absolute" style="background-color:#F88634;color:white;top:-5px;right:15px;font-size:10px;">1</span>
                    <img src="~/images/bell.png" alt="" />
                </button>
                <ul id="notification-dropdown" class="dropdown-menu" style="width:380px;max-height: 335px;overflow-y: scroll;">
                    <li id="notification-header-li" class="p-2 d-flex justify-content-between align-items-center">
                        <button class="bg-white border-0" data-bs-toggle="modal" data-bs-target="#navigation-setting-modal"><img src="~/images/settings.png" /></button>
                        <span>Notification</span>
                        <button class="bg-white border-0">Clear All</button>
                    </li>
                    <li class="p-2 border border-1 d-flex justify-content-between align-items-center">
                        <div>
                            <img style="height:30px;width:30px" src="~/images/add.png" />
                            <span>New Mission-Plantation and aforrestation</span>
                        </div>
                        <input class="notification-status" type="checkbox" id="id" checked />
                    </li>
                    <li class="p-2 border border-1 d-flex justify-content-between align-items-center">
                        <div>
                            <img style="height:30px;width:30px" src="~/images/add.png" />
                            <span>New Mission-Plantation and aforrestation</span>
                        </div>
                        <input class="notification-status" type="checkbox" id="id" checked />
                    </li>
                    <li class="p-2 border border-1 d-flex justify-content-between align-items-center">
                        <div>
                            <img style="height:30px;width:30px" src="~/images/add.png" />
                            <span>New Mission-Plantation and aforrestation</span>
                        </div>
                        <input class="notification-status" type="checkbox" id="id" checked />
                    </li>
                    <li style="background-color:lightgray" class="p-2 border border-1">
                        <span>Older</span>
                    </li>
                    <li class="p-2 border border-1 d-flex justify-content-between align-items-center">
                        <div>
                            <img style="height:30px;width:30px" src="~/images/add.png" />
                            <span>New Mission-Plantation and aforrestation</span>
                        </div>
                        <input class="notification-status" type="checkbox" id="id" checked />
                    </li>
                    <li class="p-2 border border-1 d-flex justify-content-between align-items-center">
                        <div>
                            <img style="height:30px;width:30px" src="~/images/add.png" />
                            <span>New Mission-Plantation and aforrestation</span>
                        </div>
                        <input class="notification-status" type="checkbox" id="id" checked />
                    </li>
                    <li class="p-2 border border-1 d-flex justify-content-between align-items-center">
                        <div>
                            <img style="height:30px;width:30px" src="~/images/add.png" />
                            <span>New Mission-Plantation and aforrestation</span>
                        </div>
                        <input class="notification-status" type="checkbox" id="id" checked />
                    </li>
                    <li class="p-2 border border-1 d-flex justify-content-between align-items-center">
                        <div>
                            <img style="height:30px;width:30px" src="~/images/add.png" />
                            <span>New Mission-Plantation and aforrestation</span>
                        </div>
                        <input class="notification-status" type="checkbox" id="id" checked />
                    </li>
                </ul>
            </div>
            <img src="@Model.avatar" style="border-radius: 50%;height: 100%; padding: 4px;margin-right:10px;">
            <button value="@Model.id" style="border: none; background: white;" class="dropdown-toggle bg-light user-btn" type="button"
                    id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                @Model.username
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li class="dropdownnavbarlinks">
                    <button class="dropdown-item" type="button">
                        <a style="text-decoration:none;color:black;width:100%" href="@Url.Action("EditProfile", "Account")">Edit profile</a>
                    </button>
                </li>
                <li class="dropdownnavbarlinks">
                    <button class="dropdown-item" type="button">
                        <a style="text-decoration:none;color:black;;width:100%" href="@Url.Action("logout", "Account")">Logout</a>
                    </button>
                </li>
                <li class="dropdownnavbarlinks">
                    <button class="dropdown-item" type="button">
                        <a style="text-decoration:none;color:black;;width:100%" href="@Url.Action("VolunteeringTimesheet", "Account")">VolunteeringTimesheet</a>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>
