@model List<CIPlatform.Entities.ViewModels.ReleatedMissionModel>

@foreach (var item in Model)
{


    <div class="col-md-4 mt-2">
        <div class="card mt-2 shadow">
            <div class="list-image-part position-relative">
                @{
                    string[] mediaNames = @item.MediaName.ToString().Split(",");
                }
                <img src="~/@item.MediaPath/@mediaNames[0].@item.MediaType" class="list-img"
                 alt="" />
                <h5 class="list-card-theme-title bg-white rounded-5 p-2">@item.ThemeTitle</h5>
                <div id="grid-card-image-content" class="h-100 d-flex flex-column position-absolute  p-2">
                    <div id="list-location-image" class="list-img-content p-2 rounded-5">
                        <img src="~/images/pin.png" alt="">
                        @item.CityName
                    </div>
                    <div class="d-flex flex-column align-items-end">
                        <div id="list-img-heart" class="list-img-content p-2 rounded-5 m-1">
                            <img src="~/images/heart.png" alt="">
                        </div>
                        <div id="list-user-img" class="list-img-content p-2 rounded-5 m-1">
                            <img src="~/images/user.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">@item.Title </h5>
                <p class="card-text">@item.ShortDescription</p>
                <div style="justify-content:space-between;" class="d-flex ">
                    <span>
                        @item.OrganizationName
                    </span>
                    <div style="color: orange; ">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
                <div CLASS="mt-3 mb-3 d-flex missiondate">
                    <div style="width:15%">
                        <hr>
                    </div>
                    <div style="width: 90% ;justify-content: center;border: 1px solid gray;border-radius: 18px;;"
                     class="d-flex">
                        From @item.StartDate untill @item.EndDate
                    </div>
                    <div style="width:15%">
                        <hr>
                    </div>

                </div>
                <div style="justify-content:space-between;" class="d-flex pt-1 ">
                    <div><img src="~/images/Seats-left.png" alt=""><span>@item.seats <br> seats left</span></div>

                    <div>
                        <img style="height: 25px;" src="~/images/hours.png" alt=""><span>
                            09/01/2019 <br>
                            Deadline
                        </span>
                    </div>
                </div>

                <hr>

                <div style="justify-content: center;" class="d-flex pt-2">
                    
                <button style="background: #FFFFFF 0% 0% no-repeat padding-box; border: 2px solid #F88634; border-radius: 24px;color: #F88634; width:30%;height:30px;">  
                    <a style="text-decoration:none;color: #F88634;" href="@Url.Action("Mission_Volunteer", "Mission", new { missionId = @item.MissionId})">Apply</a>
                    <img src="~/images/right-arrow.png" alt=""></button>                        
                </div>
            </div>
        </div>
    </div>

}