@model CIPlatform.Entities.ViewModels.StoryDetailModel

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Recommanded to your Co-worker</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
            
              <div class="mb-3">
                  <form action="recommendedtocoworker" method="Post">
                  <input name="Missionid" type="hidden" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                 <select class="form-select" aria-label="Default select example" id="receipient-email">
                     @foreach (var item in Model.usersemails)
                     {                     
                        <option value="@item.Email">@item.Email</option>
                     }
                </select>
                <button type="submit" class="btn btn-primary mt-2" id="btn-recommend" value="@Model.story.MissionId">Send Email</button>
                <div style="width:100%;margin-top:10px;">
                     </form>                     
                     <label>Search Email address</label>
                     <form action="recommendedtocoworker" method="Post">
                        <input list="cars" style="width: 100%;border: 1px solid gray;height: 35px;" id="searchemail">
                        <datalist id="cars">
                            @foreach (var item in Model.usersemails)
                            {
                            <option value="@item.Email" />
                            <span>@item.FirstName @item.LastName</span>
                            }
                        </datalist>
                         <button type="submit" class="btn btn-primary mt-2" id="btn-recommend-search"                value="@Model.story.MissionId">Send Email</button>
                     </form>
                </div>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              
                  
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>

</div>



    <div class="container">
          <div class="row">
            <div id="menubarimg"class="d-md-none">
                <button  onclick="menubartoggle()"><img src="~/images/list.png"
                        alt=""></button>
            </div>
            <div class="col-6  leftnav">

                <a style="border: none; background: white;text-decoration:none;color:black;" href="@Url.Action("StoryListing", "Story")">Stories</a>
                <button style="border: none; background: white;" class="dropdown-toggle bg-light" type="button"
                    id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                    Policy
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><button class="dropdown-item" type="button">Action</button></li>
                    <li><button class="dropdown-item" type="button">Another action</button></li>
                    <li><button class="dropdown-item" type="button">Something else here</button></li>
                </ul>
            </div>
            <div class="col-6 d-flex px-5 rightnav" id="ajaxtest">
                <img src="@Model.navavatar"style="border-radius: 50%;height: 100%; padding: 4px;">
                    <button value="@Model.story.UserId" style="border: none; background: white;" class="dropdown-toggle bg-light user-btn" type="button"
                    id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false" style="border:none;">
                    @Model.navusername
                </button>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><button class="dropdown-item" type="button"><a href="@Url.Action("EditProfile", "Account")">Edit profile</a></button></li>
                    <li><button class="dropdown-item" type="button"><a href="@Url.Action("logout", "Account")">Logout</a></button></li>
                    <li class="dropdownnavbarlinks"><button class="dropdown-item" type="button"><a style="text-decoration:none;color:black;" href="@Url.Action("VolunteeringTimesheet", "Account")">Logout</a>VolunteeringTimesheet</button></li>
                </ul>



            </div>
        </div>

    </div>

    <hr>



<div id="mission-content" class="container overflow-y-scroll p-0 volunteer-content">
    <div id="volunteer-top-info" class="d-flex flex-column flex-sm-row">
        <div id="volunteer-image-part" class="w-50">
            @{
                   string[] mediaNames=@Model.story.StoryMedia.ElementAt(0).Path.ToString().Split(",");
                    int mediaLength = mediaNames.Length;

            }
            <img style="height:550px;"id="preview-image" src="~/images/uploads/@mediaNames[0]"
                 class="w-100 volunteer-main-image" alt="" />
            <!-- carousel -->
             <div id="carouselExampleControls" class="carousel slide w-100" data-bs-ride="carousel">
                        <div class="carousel-inner h-100 w-100">
                            <div class="carousel-item active h-100 w-100">
                                <div class="d-flex h-100 w-100">
                                    @for(int i=0;i<mediaLength;i++)
                                     {
                                        <div class="h-100 w-25">
                                        <img src="~/images/uploads/@mediaNames[i]"
                                        class="carousel-images d-block w-100 h-100 p-1" alt="..." />
                                        </div>
                                            @if ((i+1)%4==0 && i!=0 && (i+1)!=mediaLength)
                                            {
                                                        @:</div>
                                                        @:</div>
                                                    @:<div class="carousel-item h-100 w-100">
                                                @:<div class="d-flex h-100 w-100">
                                            }
                                     }
                                   
                                </div>
                            </div>
                            
                            
                        </div>
                        <button class="carousel-control-prev bg-black" type="button"
                            data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next bg-black" type="button"
                            data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
        </div>
        <div id="volunteer-content-part" class="w-50 p-2 d-flex flex-column">
            <div id="story-top-infp" class=" d-flex justify-content-between px-md-5">
                <div class="d-flex flex-column justify-content-center align-items-center mt-3">
                    <img src="@Model.story.User.Avatar" class="rounded-circle" style="height: 100px; width: 100px;">
                    <span>@Model.story.User.FirstName @Model.story.User.LastName</span>
                </div>
                <div class="d-flex justify-content-end align-items-end">
                    <button class="rounded-5 p-1 px-2 bg-white" style="    border: 1px solid black;
                         border-radius: 20px;">
                        <img src="~/images/eye.png" alt="">
                        <span>12000</span>
                        <span>Views</span>
                    </button>
                </div>
            </div>
            <div class="story-middle-info p-1 py-md-5 px-md-5">
                @Model.story.User.WhyIVolunteer
            </div>
            <div class="story-bottom-info p-2 d-flex flex-sm-column flex-row flex-md-row justify-content-around align-items-center">
                                        <button data-bs-toggle="modal" data-bs-target="#myModal" id="btn-recommend"
                            style="border: 2px solid #757575;border-radius: 25px;width: 51%;background: none;padding: 4px;margin-top: 10px;padding: 10px;">
                            <img style="margin-right: 10px;" src="~/images/add1.png" alt="">Recommnded to a Co-worker </button>
                <button class="rounded-5 orange-btn bg-white d-flex align-items-center" style="border: 2px solid orange;border-radius: 25px;width:24%;background: none;padding: 4px;margin-top:10px;color:orange;height:47px;color:orange;">
                    <a style="color:orange;text-decoration:none" class="px-md-2" href="@Url.Action("Mission_Volunteer", "Mission", new { missionId = @Model.story.MissionId })">Open Mission</a>
                    <img src="~/images/right-arrow.png" alt="">
                </button>
            </div>
        </div>
    </div>

    <div id="story-details-info" class="py-3">
        <h4>@Model.story.Title</h4>
        <hr>
        <div>
              @Html.Raw(Model.story.Description)
        </div>
    </div>
    <br>
</div>
<hr style="margin: top 10px;">
<div class="container mt-3">
    <a style="text-decoration: none;color: gray;" href="">Privacy Policy</a>
</div>
<hr style="margin-top:10px;">
    @section Javascript{

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $('#recommand').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body input').val(recipient)
})


//================================================================================================
//RECOMMANDED TO CO WORKER
//=================================================================================================
$("#btn-recommend").on("click", function (e) {
    e.preventDefault();

    var missionid = $(this).val();
    var co_email = $("#receipient-email").val();
    var val = missionid;
    $.ajax({
        type: "POST",
        url: '/Story/recommendedtocoworker',
        dataType: "html",
        data: { Missionid: val, cow_email: co_email.toString() },
        success: function (data) {
            alert("email send successfully");
          $("#receipient-email").val();
        },
        error: function (xhr, status, error) {
            // Handle error
            console.log(error);
        }
    })

});


$("#btn-recommend-search").on("click", function (e) {
    e.preventDefault();
    var missionid = $(this).val();
    var co_email = $("#searchemail").val();
    var val = missionid;
    $.ajax({
        type: "POST",
        url: '/Story/recommendedtocoworker',
        dataType: "html",
        data: { Missionid: val, cow_email: co_email.toString() },
        success: function (data) {
            alert("email send successfully");
          $("#cars").val();
        },
        error: function (xhr, status, error) {
            // Handle error
            console.log(error);
        }
    })

});

</script>
    }