@model CIPlatform.Entities.ViewModels.EditProfileModel
<div class="container">
    <div class="row">
        <div id="menubarimg" class="d-md-none">
            <button onclick="menubartoggle()">
                <img src="~/images/list.png"
                     alt="">
            </button>
        </div>
        <div class="col-6  leftnav">
            <a style="border: none; background: white;text-decoration:none;color:black;" href="@Url.Action("StoryListing", "Story")">Stories</a>
            <button style="border: none; background: white;" class="dropdown-toggle bg-light" type="button"
                    id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                Policy
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li class="dropdownnavbarlinks">
                    <button class="dropdown-item" type="button">
                        <a style="text-decoration:none;color:black;" href="@Url.Action("Privacy_policy", "Account")">Policy</a>
                    </button>
                </li>
                <li><button class="dropdown-item" type="button">Another action</button></li>
                <li><button class="dropdown-item" type="button">Something else here</button></li>
            </ul>
        </div>
        <div class="col-6 d-flex px-5 rightnav">
            <img src="@Model.avatar" alt=""
                 style="border-radius: 50%;height: 100%; padding: 4px;">
            <button style="border: none; background: white;" class="dropdown-toggle bg-light" type="button"
                    id="ddirectionionwnMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                @Model.firstname @Model.lastname
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li class="dropdownnavbarlinks">
                    <button class="dropdown-item" type="button">
                        <a style="text-decoration:none;color:black;" href="@Url.Action("EditProfile", "Account")">Edit profile</a>
                    </button>
                </li>
                <li class="dropdownnavbarlinks">
                    <button class="dropdown-item" type="button">
                        <a style="text-decoration:none;color:black;" href="@Url.Action("logout", "Account")">Logout</a>
                    </button>
                </li>
                <li class="dropdownnavbarlinks">
                    <button class="dropdown-item" type="button">
                        <a style="text-decoration:none;color:black;" href="@Url.Action("VolunteeringTimesheet", "Account")">VolunteeringTimesheet</a>
                    </button>
                </li>
                <li class="dropdownnavbarlinks">
                    <button class="dropdown-item" type="button">
                        <a style="text-decoration:none;color:black;" href="@Url.Action("User_crud", "Admin")">Login AS Admin</a>
                    </button>
            </ul>
        </div>
    </div>

</div>
<hr />
<form enctype="multipart/form-data" method="post" asp-action="EditProfile">
    <div class="container mt-2">
        <div class="row">
            <div class="col-md-3 userimgdiv">
                <div class="card justify-content-center align-align-items-center d-flex">
                    <input type="file" name="filename" class="avatarbtn" />
                    <img id="uimg" src="@Model.avatar" alt="" class="mx-auto d-flex mt-3" id="imgavatar">
                    <p style="text-align: center;" class="mt-2">@Model.firstname @Model.lastname</p>
                    <div style="display:flex;margin:auto" class="mt-2">
                        @*                        <a href="" class="socialmedia"><img src="~/images/facebook.png" /></a>
                            <a href="" class="socialmedia"><img src="~/images/twitter.png" /></a>
                            <a href="" class="socialmedia" target="_blank"><img src="~/images/linkedin.png" /></a>*@
                    </div>
                    <button type="button" class="btn d-flex mx-auto mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Change Password</button>
                </div>
            </div>
            <div class="col-md-9 colclass card">
                <div class="row">
                    <h5 class="p-2">
                        <strong>Basic Information</strong>
                    </h5>
                    <hr>
                </div>
                <div class="row formargin">
                    <div class="col-md-6">
                        <label for="">Name*</label>
                        <input asp-for="firstname" class="form-control " placeholder="Enter your name" type="text">
                        <span asp-validation-for="firstname" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label for="">Surname*</label>
                        <input asp-for="lastname" class="form-control " placeholder="Enter your surname" type="text">
                        <span asp-validation-for="lastname" class="text-danger"></span>
                    </div>
                </div>
                <div class="row formargin">
                    <div class="col-md-6">
                        <label for="">Employee ID</label>
                        <input type="number" asp-for="employeeid" class="form-control" placeholder="Enter your employee id" value="@Model.employeeid">
                        <span asp-validation-for="employeeid" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label for="">Manager</label>
                        <input class="form-control " placeholder="Enter your manager details" type="text">
                    </div>
                </div>
                <div class="row formargin">
                    <div class="col-md-6">
                        <label for="">Title</label>
                        <input asp-for="title" class="form-control" value="@Model.title" type="text">
                        <span asp-validation-for="title" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label for="">Department</label>
                        <input asp-for="department" class="form-control" placeholder="Enter your manager details" type="text">
                        <span asp-validation-for="department" class="text-danger"></span>
                    </div>
                </div>
                <div class="row formargin">
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">My Profile*</label>
                        <textarea asp-for="profiletext" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <span asp-validation-for="profiletext" class="text-danger"></span>
                </div>
                <div class="row formargin">
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Why I Volunteer?</label>
<textarea asp-for="whyivol" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        <span asp-validation-for="whyivol" class="text-danger"></span>
                    </div>
                </div>
                <div class="row" style="margin-top: 50px;">
                    <h5>
                        Address Information
                    </h5>
                    <hr>
                </div>
                <div class="row formargin">
                    <div class="col-md-6">
                        <label for="">City</label>
                        <select class="form-select dropcity" aria-label="Default select example" id="citydropdown" asp-for="cityofuser">
                        </select>
                        <span asp-validation-for="cityofuser" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label for="">Country*</label>
                        <select class="form-select dropcity" aria-label="Default select example" id="countrydropdown" asp-for="countrofuser"></select>
                        <span asp-validation-for="countrofuser" class="text-danger"></span>
                    </div>

                </div>
                <div class="row" style="margin-top: 50px;">
                    <h5>
                        Professional Information
                    </h5>
                    <hr>
                </div>
                <div class="row formargin">
                    <div class="col-md-6">
                        <label for="">Availablity</label>
                        <select class="form-select" aria-label="Default select example">
                            <option value="1">weekly</option>
                            <option value="2">daily</option>
                            <option value="3">Monthly</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="">LinkedIn</label>
                        <input asp-for="linkedinurl" class="form-control" placeholder="Enter linkedIn URL" type="text">
                        <span asp-validation-for="linkedinurl" class="text-danger"></span>
                    </div>
                </div>
                <div class="row" style="margin-top: 50px;">
                    <h5>
                        My Skills
                    </h5>
                    <hr>
                </div>
                <div class="row">
                    <div>
                        <div class="row formargin d-flex" style="justify-content: center;height: 146px;">
                            <div class="row user-edit-selected-skill-div p-2 mx-2">
                                <textarea asp-for="userskills" class="navbar-nav user-edit-selected-skill" id="skilltext">
                                </textarea>
                                <span asp-validation-for="userskills" class="text-danger"></span>
                            </div>
                        </div><br /><br />
                        <div class="row">
                            <div>
                                <button id="BtnforAddSkills" class="user-edit-add-skill-btn"><span style="color:#757575;">Add Skills                                 </span></button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="right-button" style="margin-bottom: 50px;">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
   @*----Pop-Up For AddSkills---*@
<div class="popup-container m-auto">
    <div class="popup-content d-flex flex-column mx-auto" style="margin-top:20vh">
        <div class="d-flex justify-content-between">
            <h5>Add your Skills</h5>
            <button class="close-popup-btn remove-skill"><i class="bi bi-x-lg"></i></button>
        </div>
        <div class="d-flex flex-row">
            <div class="available-skills">
                <ul class="skill-list" id="skilllistinmodal">
                    <li data-skill="skill1">Environment Science </li>
                    <li data-skill="skill2">Helth</li>
                    <li data-skill="skill3">Computer</li>
                    <li data-skill="skill4">Leadership</li>
                    <li data-skill="skill1">Environment Science </li>
                    <li data-skill="skill2">Helth</li>
                    <li data-skill="skill3">Computer</li>
                    <li data-skill="skill4">Leadership</li>
                </ul>
            </div>
            <div class="d-flex flex-column justify-content-center" style="margin-right:8px;gap:5px;">
                <button class="add-skill"><i class="bi bi-chevron-right"></i></button>
                <button class="remove-skill"><i class="bi bi-chevron-left"></i></button>
            </div>
            <div class="selected-skills">
                <ul id="secondList" class="skill-list">
                </ul>
            </div>
        </div>
        <div>
            <div class="d-flex flex-row mt-3" style="gap:10px;">
                <button class="user-edit-add-skill-btn closebtnpopup" id="btncancelforaddskills"
                        style="border-radius: 16px;border: 1px solid black;padding: 10px;background: transparent;color: black;">
                    <span style="color:black;">Cancel</span>
                </button>
                <button class="user-edit-save-btn" id="btnsaveforaddskills" style="border: 1px solid orange;
 background: transparent;padding: 8px;border-radius: 12px;">
                    <span style="color:#F88634;">Save</span>
                </button>
            </div>
        </div>
    </div>
</div>
    @*change password modal*@
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-action="EditPassword">
                <div class="modal-body">

                    <div class="mb-3">
                        <input asp-for="password.Oldpassword" type="password" class="form-control" placeholder="Enter Old Password">
                        <span asp-validation-for="password.Oldpassword" class="text-danger"></span>

                    </div>
                    <div class="mb-3">
                        <input asp-for="password.Newpassword" type="password" class="form-control" placeholder="Enter New Password">
                        <span asp-validation-for="password.Newpassword" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input asp-for="password.ConfirmPassword" type="password" class="form-control" placeholder="Enter confirm   Password">
                        <span asp-validation-for="password.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" id="changepassbtn">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
    @*contact us modal*@
<div class="modal fade" id="ContactusModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form method="post" asp-action="contactus">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Contact Us</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">

                    <div class="mb-3">
                        <label for="">Name*</label>
                        <input class="form-control " disabled placeholder="@Model.firstname @Model.lastname" type="text">
                    </div>
                    <div class="mb-3">
                        <label for="">Email Address*</label>
                        <input class="form-control " disabled placeholder="@Model.useremail" type="text">
                    </div>
                    <div class="mb-3">
                        <label>Subject*</label>
                        <input asp-for="subject" class="form-control " placeholder="Enter your Subject" type="text">
                        <span asp-validation-for="subject" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Message*</label>
                        <textarea asp-for="message" class="form-control" id="exampleFormControlTextarea1" placeholder="Enter your Message" rows="3"></textarea>
                        <span asp-validation-for="message" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Send Message</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div style="position:sticky;">
    <hr>
    <div class="container mt-3 d-flex">
        <a style="text-decoration:none;color:black;" href="@Url.Action("Privacy_policy", "Account")">Privacy Policy</a>
        <button type="button" class="btn d-flex mx-3" data-bs-toggle="modal" data-bs-target="#ContactusModel">Contact us</button>
    </div>

    <hr>
</div>
@section Javascript{
<script src="/js/editprofile.js" asp-append-version="true"></script>
  }
