@model CIPlatform.Entities.ViewModels.VolunteeringTimesheetModel
<div class="container mt-2">
    <div class="row">
        <div id="menubarimg" class="d-md-none">
            <button onclick="menubartoggle()">
                <img src="~/images/list.png"
                     alt="">
            </button>
        </div>
        <div class="col-6  leftnav">
            <a style="border: none; background: white;text-decoration:none;color:black;" href="@Url.Action("StoryListing", "Story")">Stories</a>
            <button style="border: none; background: white;" class="dropdown-toggle bg-light" type="button"
                    id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                Policy
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li class="dropdownnavbarlinks">
                    <button class="dropdown-item" type="button">
                        <a style="text-decoration:none;color:black;" href="@Url.Action("Privacy_policy", "Account")">Policy</a>
                    </button>
                </li>
                <li><button class="dropdown-item" type="button">Another action</button></li>
                <li><button class="dropdown-item" type="button">Something else here</button></li>
            </ul>
        </div>
        <div class="col-6 d-flex px-5 rightnav">
            <img src="@Model.avatar" alt=""
                 style="border-radius: 50%;height: 100%; padding: 4px;">
            <button style="border: none; background: white;" class="dropdown-toggle bg-light" type="button"
                    id="ddirectionionwnMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                @Model.username
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li class="dropdownnavbarlinks">
                    <button class="dropdown-item" type="button">
                        <a style="text-decoration:none;color:black;" href="@Url.Action("EditProfile", "Account")">Edit profile</a>
                    </button>
                </li>
                <li class="dropdownnavbarlinks">
                    <button class="dropdown-item" type="button">
                        <a style="text-decoration:none;color:black;" href="@Url.Action("logout", "Account")">Logout</a>
                    </button>
                </li>
                <li class="dropdownnavbarlinks">
                    <button class="dropdown-item" type="button">
                        <a style="text-decoration:none;color:black;" href="@Url.Action("VolunteeringTimesheet", "Account")">VolunteeringTimesheet</a>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 mt-4">
            <h1>
                Volunteering Timesheet
            </h1>
        </div>
    </div>
    <div class="row d-flex mt-3" style="justify-content: space-between;overflow-x:auto">
        <div class="card" id="Volunteeringhours" style="height:564px;">
            <div class="row pt-3 d-flex">
                <h3 style="width:70%">
                    Volunteering Hours
                </h3>
                <button id="addtimemissionbtn" style="width:25%;width: 20%;
                    background: none;
                    color: orange;
                    border: 1px solid orange;
                    border-radius: 30px;" data-bs-toggle="modal" data-bs-target="#ADDTIMEMISSIONSHEET">
                    + add
                </button>
            </div>
            <hr>
            <div class="row p-2 table-responsive mt-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"><strong>Mission</strong></th>
                            <th scope="col">Date</th>
                            <th scope="col">Hours</th>
                            <th scope="col">Minutes</th>
                            <th scope="col">edit</th>
                            <th scope="col">delete</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.timesheet)
                    {
                        @if (item.Mission.MissionType == "time")
                        {
                            <tbody>
                                <tr>
                                    @if (Model.timesheet is null)
                                    {
                                        <td>no data</td>
                                    }
                                    else
                                    {
                                        <td>@item.Mission.Title</td>
                                        <td>@item.DateVolunteered.ToString().Substring(0,10)</td>
                                        <td>@item.Time.ToString().Substring(0,2)</td>
                                        <td>@item.Time.ToString().Substring(3,2)</td>
                                        <td>

                                            <button style="background: none;padding: 0px;border:none" data-bs-toggle="modal"
                                        data-bs-target="#editTIMEMISSIONSHEET" id="@item.TimesheetId" class="editmodalopentime">
                                                <img style="width:20px;height: 20px;"
                                         class="img-fluid" src="~/images/Voted-Missions.png">
                                            </button>
                                        </td>
                                        <td>
                                            <button id="@item.TimesheetId" class="timesheetdeletebtn" style="background: none;padding: 0px;border:none">
                                                <input type="hidden" value="@item.TimesheetId" class="timesheetidget" />
                                                <img style="width:20px;height: 20px;"
                                         class="img-fluid" src="~/images/bin.png">
                                            </button>
                                        </td>
                                    }
                                </tr>
                            </tbody>
                        } }
                </table>
            </div>
        </div>
        <div class="card" id="VolunteeringGoals" style="height:564px;">
            <div class="row pt-3 d-flex">
                <h3 style="width:70%">
                    Volunteering Goals
                </h3>
                <button style="width:25%;width: 20%;
                    background: none;
                    color: orange;
                    border: 1px solid orange;
                    border-radius: 30px;" data-bs-toggle="modal" data-bs-target="#ADDGOALMISSIONSHEET">
                    + add
                </button>
            </div>
            <hr>
            <div class="row p-2 table-responsive mt-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Mission</th>
                            <th scope="col">Date</th>
                            <th scope="col">Action</th>
                            <th scope="col">edit</th>
                            <th scope="col">delete</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.timesheet)
                    {

                        @if (item.Mission.MissionType == "goal")
                        {
                            <tbody>
                                <tr>
                                    @if (Model.timesheet is null)
                                    {
                                        <td>no data</td>
                                    }
                                    else
                                    {
                                        <td>@item.Mission.Title</td>
                                        <td>@item.DateVolunteered.ToString().Substring(0,10)</td>
                                        <td>@item.Action</td>
                                        <td>
                                            <button style="background: none;padding: 0px;border:none" data-bs-toggle="modal"
                                        data-bs-target="#editGOALMISSIONSHEET" id="@item.TimesheetId" class="editmodalopengoal">
                                                <img style="width:20px;height: 20px;"
                                         class="img-fluid" src="~/images/Voted-Missions.png">
                                            </button>
                                        </td>
                                        <td>
                                            <button class="timesheetdeletebtngoal" style="background: none;padding: 0px;border:none" id="@item.TimesheetId">
                                                <input type="hidden" value="@item.TimesheetId" id="timesheetidgetgoal" />
                                                <img style="width:20px;height: 20px;"
                                         class="img-fluid" src="~/images/bin.png">
                                            </button>
                                        </td>
                                    }
                                </tr>
                            </tbody>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>

@*=====================================================*@
@*add time sheet modals for time based*@
@*=====================================================*@
<div class="modal fade" id="ADDTIMEMISSIONSHEET" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" role="dialog">
    <div class="modal-dialog" style="margin: 10vh 0 0 10vw;">
        <div class="modal-content" style="width:80vw;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Please input below Volunteering Hours </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-body">

                    <div class="mb-3">
                        <div class="col-md-12">
                            Mission
                            <select class="form-select mt-3" aria-label="Default select example" id="missionidgetdiv">
                                @foreach (var item in Model.missiontitle)
                                {    @if (item.MissionType == "time")
                                    {
                                        <option value="@item.MissionId">@item.Title</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 storydropdown mt-3">
                        Date
                        <input id="getdatediv" class="form-control mt-1" type="date" placeholder="Select date" aria-label="default input example"
                               asp-for="DateVolunteered">
                        <span asp-validation-for="DateVolunteered" class="text-danger mt-1"></span>
                    </div>
                    <div class="d-flex align-items-center" style="justify-content:space-between">
                        <div class="mt-3" style="width:48%">
                            <label>Hours</label>
                            <input id="gethourdiv" class="form-control mt-2" placeholder="Enter your Hours" type="text" asp-for="hours">
                            <span class="text-danger field-validation-valid" data-valmsg-for="hours" data-valmsg-replace="true" data-val-required="The email is required"></span>
                        </div>
                        <div class="mt-3" style="width:48%">
                            <label>Minutes</label>
                            <input id="getminitediv" class="form-control mt-2 " placeholder="Enter your Minutes" type="text" asp-for="minutes">
                            <span asp-validation-for="minutes" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mt-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Message*</label>
                        <textarea id="getmsgdiv" class="form-control" placeholder="Enter your Message" rows="3" asp-for="Notes"></textarea>
                        <span asp-validation-for="Notes" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btncancel-timesheet" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success btnsubmit-timesheet" id="addtimesheet">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
@*=====================================================*@
@*add time sheet modals for goal based*@
@*=====================================================*@
<div class="modal fade" id="ADDGOALMISSIONSHEET" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" role="dialog">
    <div class="modal-dialog" style="margin: 10vh 0 0 10vw;">
        <div class="modal-content" style="width:80vw;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Please input below Volunteering Goal </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="mb-3">
                        <div class="col-md-12">
                            Mission
                            <select class="form-select mt-3" aria-label="Default select example" id="missionidgetdivgoal">
                                @foreach (var item in Model.missiontitle)
                                {    @if (item.MissionType == "goal")
                                    {
                                        <option value="@item.MissionId">@item.Title</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <label>Action</label>
                        <input class="form-control mt-2" placeholder="Enter your Hours" type="text" id="actiongoalgetdiv" asp-for="Action">
                        <span asp-validation-for="Action" class="text-danger"></span>

                    </div>
                    <div class="col-md-12 storydropdown mt-3">
                        Date
                        <input asp-for="DateVolunteered" class="form-control mt-1" type="date" placeholder="Select date"
                               aria-label="default input example"
                               id="dategoalgetdiv">
                        <span asp-validation-for="DateVolunteered" class="text-danger"></span>
                    </div>
                    <div class="mt-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Message*</label>
                        <textarea class="form-control" placeholder="Enter your Message" rows="3" id="msggoalgetdiv" asp-for="Notes"></textarea>
                        <span asp-validation-for="Notes" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btncancel-timesheet" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success btnsubmit-timesheet" id="addgoaltimesheetbtn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
@*@*======================================================*@
@*edit time sheet modals for time based*@@*@
    @*=====================================================*@

<div id="timesheetedit">
    <div class="modal fade" id="editTIMEMISSIONSHEET" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin: 10vh 0 0 10vw;">
            <div class="modal-content" style="width:80vw;">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit below Volunteering Hours </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="edittimesheet">
                    <div class="modal-body">
                        <div class="mb-3">
                            <div class="col-md-12">
                                Mission

                                <select class="form-select mt-3" aria-label="Default select example" id="missiontitletimesheetedit">
                                    @foreach (var item in Model.missiontitle)
                                    {    @if (item.MissionType == "time")
                                        {
                                            <option value="@item.MissionId">@item.Title</option>
                                        }
                                    }
                                </select>
                                <input type="hidden" value="@Model.MissionId" id="missionidgetdiv-edit" asp-for="MissionId">
                                <input type="hidden" value="@Model.timesheetid" asp-for="timesheetid" id="timesheetidtimebased" />

                            </div>
                        </div>
                        <div class="col-md-12 storydropdown mt-3">
                            <div class="col-md-12 storydropdown mt-3">
                                Date
                                <input asp-for="DateVolunteered" id="getdatediv-edit" class="form-control mt-1" type="date" placeholder="Select date"
                                       aria-label="default input example" required min="">
                                <span asp-validation-for="DateVolunteered" class="text-danger"></span>
                            </div>
                            <div class="d-flex align-items-center" style="justify-content:space-between">
                                <div class="mt-3" style="width:48%">
                                    <label>Hours</label>
                                    <input id="gethourdiv-edit" class="form-control mt-2" placeholder="Enter your Hours" type="text" asp-for="hours" required>
                                    <span asp-validation-for="hours" class="text-danger"></span>

                                </div>
                                <div class="mt-3" style="width:48%">
                                    <label>Minutes</label>
                                    <input id="getminitediv-edit" class="form-control mt-2 " placeholder="Enter your Minutes" type="text" asp-for="minutes" required>
                                    <span asp-validation-for="minutes" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mt-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Message*</label>
                                <textarea asp-for="Notes" id="getmsgdiv-edit" class="form-control" id="exampleFormControlTextarea1" placeholder="Enter your Message"
                                          rows="3" required></textarea>
                                <span asp-validation-for="Notes" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btncancel-timesheet" data-bs-dismiss="modal">Cancel</button>
                            <input type="submit" class="btn btn-success btnsubmit-timesheet" id="edittimesheet" value="Submit" />
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="timesheeteditgoal">
    @*=====================================================*@
    @*edit time sheet modals for goal based*@
    @*=====================================================*@
    <div class="modal fade" id="editGOALMISSIONSHEET" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" role="dialog">
        <div class="modal-dialog" style="margin: 10vh 0 0 10vw;">
            <div class="modal-content" style="width:80vw;">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit input below Volunteering Goal </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="edittimesheetgoal">
                    <div class="modal-body">
                        <div class="mb-3">
                            <div class="col-md-12">
                                Mission
                                <div>
                                <select class="form-select mt-3" aria-label="Default select example" id="missiontitletimesheetedit">
                                    @foreach (var item in Model.missiontitle)
                                    {    @if (item.MissionType == "goal")
                                        {
                                            <option value="@item.MissionId">@item.Title</option>
                                        }
                                    }
                                </select>
                                 <input type="hidden" value="@Model.MissionId" id="getmissionid-goaledit" asp-for="MissionId">
                                <input type="hidden" value="@Model.timesheetid" asp-for="timesheetid" id="timesheetidgoalbased" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mt-3">
                            <label>Action</label>
                            <input asp-for="Action" class="form-control mt-2" placeholder="Enter your Hours" type="number" id="actiongoalgetdiv-edit">
                            <span asp-validation-for="Action" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 storydropdown mt-3">
                            Date
                            <input asp-for="DateVolunteered" class="form-control mt-1" type="date" placeholder="Select date"
                                   aria-label="default input example" id="dategoalgetdiv-edit">
                            <span asp-validation-for="DateVolunteered" class="text-danger"></span>
                        </div>
                        <div class="mt-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Message*</label>
                            <textarea asp-for="Notes" class="form-control" placeholder="Enter your Message" rows="3" id="msggoalgetdiv-edit"></textarea>
                            <span asp-validation-for="Notes" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btncancel-timesheet" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success btnsubmit-timesheet" id="editgoaltimesheetbtn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_Footer");
@section Javascript{
<script src="~/js/timesheet.js" asp-append-version="true"></script>
  }
