@model CIPlatform.Entities.ViewModels.MissionModel
@*  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Open modal
  </button>*@
<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Recommanded to your Co-worker</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
            <form action="recommendedtocoworker" method="Post">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input name="email" type="email" class="form-control"  aria-describedby="emailHelp" id="receipient-email">
                 <input name="Missionid" type="hidden" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"         >
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
               <button type="submit" class="btn btn-primary" id="btn-recommend" value="@Model.MissionId">Send Email</button>
            </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>

</div>
<div style="display:none"id="missionid">@Model.MissionId</div>
    <div class="col-4  d-md-none"
        style="position: absolute;border:1px solid black; flex-direction: column; justify-content: center;"
        id="menubar">
        <div style="display: flex; justify-content:flex-end;">
            <button style="background: none;border: none;" onclick="closemenu()" id="closingimg"><img
                    src="~/images/cancel1.png" alt=""></button>
        </div>
        <div class="menuitem">
            <button style="border: none; background: white;">Stories</button>
            <button style="border: none; background: white;" class="dropdown-toggle bg-light" type="button"
                id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false" style="border:none;">
                Policy
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><button class="dropdown-item" type="button">Action</button></li>
                <li><button class="dropdown-item" type="button">Another action</button></li>
                <li><button class="dropdown-item" type="button">Something else here</button></li>
            </ul>


        </div>



    </div>
    <div class="container-fluid" style="border-top: 1px solid gray;border-bottom: 1px solid gray;">
        <div class="row">
            <div id="menubarimg" class=" d-flex d-md-none">
                <button onclick="menubartoggle()"><img src="~/images/list.png" alt=""></button>
            </div>
            <div class="col-6  leftnav">

                <button style="border: none; background: white;">Stories</button>
                <button style="border: none; background: white;" class="dropdown-toggle bg-light" type="button"
                    id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false" style="border:none;">
                    Policy
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><button class="dropdown-item" type="button">Action</button></li>
                    <li><button class="dropdown-item" type="button">Another action</button></li>
                    <li><button class="dropdown-item" type="button">Something else here</button></li>
                </ul>
            </div>
            <div class="col-6 d-flex px-5 rightnav">
                <img src="~/images/user-img.png" alt="" class="src"
                    style="border-radius: 50%;height: 100%; padding: 4px;">
                <span>@Model.username</span>
                <button style="border: none; background: white;" class="dropdown-toggle bg-light" type="button"
                    id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <input type="checkbox" class="form-check-input" disabled>
                    <label class="form-check-label">Option 3</label>
                </ul>



            </div>
        </div>

    </div>

    <div class="container">
        <div class="row pt-5">
            <div class="col-md-5">
                
                <div> @{
                    string[] mediaNames=@Model.MediaName.ToString().Split(",");
                    int mediaLength = mediaNames.Length;
                }
                    <img style="height: 576px;" class="img-fluid" id="preview-image"
                        src="~/@Model.MediaPath/@mediaNames[0].@Model.MediaType" alt="">

                    <div id="carouselExampleControls" class="carousel slide w-100" data-bs-ride="carousel">
                        <div class="carousel-inner h-100 w-100">
                            <div class="carousel-item active h-100 w-100">
                                <div class="d-flex h-100 w-100">
                                    @for(int i=0;i<mediaLength;i++)
{
                                        <div class="h-100 w-25">
                                        <img src="~/@Model.MediaPath/@mediaNames[i].@Model.MediaType"
                                        class="carousel-images d-block w-100 h-100 p-1" alt="..." />
                                        </div>
                                            @if ((i+1)%4==0 && i!=0 && (i+1)!=mediaLength)
                                            {
                                                        @:</div>
                                                        @:</div>
                                                    @:<div class="carousel-item h-100 w-100">
                                                @:<div class="d-flex h-100 w-100">
                                            }
                                        }
                                   
                                </div>
                            </div>
                            
                            
                        </div>
                        <button class="carousel-control-prev bg-black" type="button"
                            data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next bg-black" type="button"
                            data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>











                </div>


            </div>
            <div class="col-md-7">
                <div>
                    <h1 style="font-weight: bolder;">@Model.Title</h1>
                </div>
                <p>@Model.ShortDescription</p>
                <div style="display:flex;flex-direction: row;margin-top: 30px;">
                    <div style="width:30%">
                        <hr>
                    </div>
                    <button style="width:70%;background:transparent;border-radius: 10px;">Plant 10,000 Trees</button>
                    <div style="width:30%">
                        <hr>
                    </div>
                </div>

                <div class="d-flex mt-4">
                    <div style="width:50% ;margin-left: 20px;display: flex;flex-direction: row;">
                        <div>
                            <img style="padding: 10px" src="~/images/Seats-left.png" alt="">
                        </div>
                        <div style="display: flex;flex-direction: column; margin-left: 10px;">
                            <stopseats</span>
                            <span>Seats left</span>
                        </div>
                    </div>
                    <div class="d-flex" style="flex-direction: row; width: 50%;">
                        <div>
                            <img src="~/images/mission.png" alt="">
                        </div>
                        <div style="display:flex;flex-direction: column;width: 100%;margin-left: 10px;">
                            <div class="progress" style="width: 100%;">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 75%"
                                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                </div>


                            </div>
                            <span style="padding-top: 4px;">8000 achieved</span>

                        </div>

                    </div>
                </div>

                <div>
                    <hr>
                    <div style="display:flex;justify-content: space-evenly;margin-top:10px;">
                                                          @if (Model.favourite == 1)
                                 {
<button style="    border: 2px solid #757575;border-radius: 25px;width: 40%;background: none;padding: 4px;" class="btnaddtofav " onclick="addtofavi(this, 1)" id="heartbtn" value="@Model.MissionId"><img src="/images/heart.png" style="height:20px;width:20px; background-color:red;border:none;" class="Icon mx-auto" alt="" />Add To Favourite</button>
}
else
{
<button style="    border: 2px solid #757575;border-radius: 25px;width: 40%;background: none;padding: 4px;"class="btnaddtofav " onclick="addtofavi(this, 0)" id="heartbtn" value="@Model.MissionId"><img src="/images/heart1.png" style="height:20px;width:20px; color:red ;border:none" class="Icon mx-auto" alt="" />Add To Favourite</button>

                                 }
                        <button data-bs-toggle="modal" data-bs-target="#myModal" id="btn-recommend"
                            style="border: 2px solid #757575;border-radius: 25px;width: 40%;background: none;padding: 4px;margin-top:10px"><img
                                style="margin-right: 10px;" src="~/images/add1.png" alt="">Recommnded to a Co-worker </button>
                    </div>
                    <div style="display: flex;flex-direction: row;align-items: center;">
                        <hr style="width:30%">
                                       <form id="add-rating" style="width:auto;">
                                                <div id="rating" class="skills">
                                                    <div class="rating">
                                                        <input class="user-rating" type="radio" name="rate" value="5" />
                                                        <input class="user-rating" type="radio" name="rate" value="4" />
                                                        <input class="user-rating" type="radio" name="rate" value="3" />
                                                        <input class="user-rating" type="radio" name="rate" value="2" />
                                                        <input class="user-rating" type="radio" name="rate" value="1" />
                                                    </div>
                                                </div>
                                       </form>
                        <hr style="width:30%">
                    </div>

                </div>
                <div style="display: flex;flex-wrap: wrap;margin-top:10px">
                    <div
                        style="display:flex;flex-direction: row;justify-content: space-between;width: 100%;flex-wrap: wrap;">
                        <div style="margin:15px;background: #FFFFFF 0% 0% no-repeat padding-box;
                        border: 1px solid #E8E8E8;
                        border-radius: 3px;width: 20%;">
                            <img src="~/images/pin1.png" alt="">
                            <div><span>City</span><br><div id="missioncity">@Model.CityName</div></div>
                        </div>
                        <div style="margin:15px;background: #FFFFFF 0% 0% no-repeat padding-box;
                        border: 1px solid #E8E8E8;
                        border-radius: 3px;width: 20%;">
                            <img src="~/images/web.png" alt="">
                            <div><span>Theme</span><br><div id="missiontheme">@Model.ThemeTitle</div></div>
                        </div>
                        <div style="margin:15px;background: #FFFFFF 0% 0% no-repeat padding-box;
                        border: 1px solid #E8E8E8;
                        border-radius: 3px;width: 20%;">
                            <img src="~/images/calender.png" alt="">
                            <div><span>Ongoing</span><br>Opportunity</div>
                        </div>
                        <div style="margin:15px;background: #FFFFFF 0% 0% no-repeat padding-box;
                        border: 1px solid #E8E8E8;
                        border-radius: 3px;width: 20%;">
                            <img src="~/images/organization.png" alt="">
                            <div><span>organization</span><br>@Model.OrganizationName</div>
                        </div>
                    </div>
                </div>
                <div style="display: flex;justify-content: center;margin-top:10px">
                    <form>
                   <input style="display:none" id="applymission"type="submit" value="@Model.MissionId"></input>
                     <button id="applybtn"><a id="applymission" style="text-decoration:none;color: #F88634;">apply<img
                                    src="~/images/right-arrow.png" alt=""></a>
                     </button></form>
                </div>

@*                style="border: 2px solid orange;
border-radius: 20px;
    width: 40%;
    display: flex;
    justify-content: center;
    height: 38px;
    align-items: center;
    color: orange;"*@



            </div>

        </div>
    </div>

    <div class="container mt-3 " style="opacity: 0.9;">
        <div class="row">
            <div class=" card shadow col-md-8">
                <div id="volunteer-info-tabs">
                    <!-- Tab links -->
                    <div class="tab">
                        <button class="tablinks p-4" onclick="openCity(event, 'Mission')">
                            Mission
                        </button>
                        <button class="tablinks p-4" onclick="openCity(event, 'Organization')">
                            Organization
                        </button>
                        <button class="tablinks p-4" onclick="openCity(event, 'Comments')">
                            Comments
                        </button>
                    </div>

                    <!-- Tab content -->
                    <div id="Mission" class="tabcontent">
                        <h3>Introduction</h3>
                        <p>
                           @Model.longdiscription
                        </p>
                        <h3>Challenge</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                            enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore eu fugiat
                            nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                            enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit
                            anim id est laborum.
                        </p>
                        <h3>Documents</h3>
                        <div class="">
                        @if (@Model.documentname == null)
                        {
                            <h1>no doc found</h1>
                        }
                        else
                        {
                            string[] documentname=@Model.documentname.ToString().Split(",");
                            
                        foreach (var item in documentname)
                        {

                            if (documentname.Length==0)
                            {
                                <h5>no doc found</h5>
                            }
                            else
                            {
                            <button class="border border-1 rounded-5 px-3 py-2 bg-white mx-2">
                                <img src="~/images/doc.png" class="px-2"> <a download href="/@Model.documentpath/@documentname[0]@Model.documenttype" target="_blank">@documentname[0]@Model.documenttype</a>
                            </button>
                            }
                           }
                           }
                        </div>
                    </div>
                    <div id="Organization" class="tabcontent">
                        <h3>Organization Introduction</h3>
                        <p>
                            @Model.organizationdetail
                        </p>

                    </div>

                    <div id="Comments" class="tabcontent">
                        <h5>Comments</h5>
                           <form>
                                <div>
                         
                                    <input style="height: 100px; width: 100%;" type="text"  id="commentText"
                                        placeholder="Enter your comments..">
                            
                                </div>
                                <div>
                                    <button asp-action="addcomment" type="submit" id="post-comment-btn"
                                        style="border:1px solid orange;color:orange;background: none;border-radius: 10px;margin-top:                                                             20px;padding:10px" value="@Model.MissionId">PostComment</button>
                                </div>
                          </form>
                        <div class="container d-flex bg-light flex-column" id="CommentsList">

                            <div class="d-flex mx-auto"> <button style="background: none;border: none;">Read More
                                    Comments..</button> </div>


                        </div>


                    </div>
                </div>

            </div>
            <div class="col-md-4" id="vol-right-info">
                <div class="card shadow">
                    <div>
                        <h2 style="padding: 10px;font-weight: bolder;">Information</h2>
                    </div>
                    <hr>
                    <div style="padding:20px">
                        @if(@Model.skill==null){
                            <div class="information-title">Skills <div>No skill Required</div>
                        </div>
                        }
                        else{
                        <div class="information-title">Skills <div>@Model.skill</div>
                        </div>}
                        <hr>
                        <div class="information-title">Days <div>Weekend only</div>
                        </div>
                        <hr>
                        <div class="information-title">Rating 
                            <svg style="display:none;">
<defs>
<symbol id="fivestars">
<path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24"
fill="white" fill-rule="evenodd" />
<path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24"
fill="white" fill-rule="evenodd" transform="translate(24)" />
<path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24"
fill="white" fill-rule="evenodd" transform="translate(48)" />
<path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24"
fill="white" fill-rule="evenodd" transform="translate(72)" />
<path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24"
fill="white" fill-rule="evenodd" transform="translate(96)" />
</symbol>
</defs>
</svg>
<div class="mission-rating">
<!-- <div class="rating-bg" style="width: 90%;"></div> -->
@if (Model.Rating == null)
{
<progress class="rating-bg" value="0" max="5"></progress>
<svg>
<use xlink:href="#fivestars" />
</svg>
}
else
{
<progress class="rating-bg" value="@Model.Rating" max="5"></progress>
<svg>
<use xlink:href="#fivestars" />
</svg>
}

</div>
<span class="gray2">(by @Model.TotalUser volunteers)</span>
                        </div>

                    </div>

                </div>
                <div class="card shadow d-flex mt-5">
                    <main>

                        <h2 style="margin-top: 4px;padding: 10px;font-weight: bolder;">Recent volunteers</h2>
                        <hr style="margin-top: 4px;">
                        <ul id="paginated-list" data-current-page="1" aria-live="polite"
                            style="   margin: 0px 0px; padding-left: 0px; justify-content: space-evenly;margin-top: 4px;">
                            <li>
                                <div
                                    style="display: flex;flex-wrap: wrap;justify-content: space-around;flex-direction: column;">
                                    <div style="display:flex;flex-direction: row;flex-wrap: wrap;height: 30%;">
                                        <div class="d-flex" style="flex-direction: column;"><img
                                                src="~/images/volunteer1.png" alt="" class="volunteer-list-img">
                                            <div>Andrew johnson</div>
                                        </div>
                                    </div>
                                    <div style="display:flex;flex-direction: row;flex-wrap: wrap;height: 30%;">
                                        <div class="d-flex" style="flex-direction: column;"><img
                                                src="~/images/volunteer4.png" alt="" class="volunteer-list-img">
                                            <div>Estella Fowles</div>
                                        </div>
                                    </div>
                                    <div style="display:flex;flex-direction: row;flex-wrap: wrap;height: 30%;">
                                        <div class="d-flex" style="flex-direction: column;"><img
                                                src="~/images/volunteer7.png" alt="" class="volunteer-list-img">
                                            <div>Travis Steen</div>
                                        </div>
                                    </div>
                                </div>
                            </li>



                            <li>
                                <div
                                    style="display: flex;flex-wrap: wrap;justify-content: space-around;flex-direction: column;">
                                    <div style="display:flex;flex-direction: row;flex-wrap: wrap;height: 30%;">
                                        <div class="d-flex" style="flex-direction: column;"><img
                                                src="~/images/volunteer2.png" alt="" class="volunteer-list-img">
                                            <div>Charles Vigue</div>
                                        </div>
                                    </div>
                                    <div style="display:flex;flex-direction: row;flex-wrap: wrap;height: 30%;">
                                        <div class="d-flex" style="flex-direction: column;"><img
                                                src="~/images/volunteer5.png" alt="" class="volunteer-list-img">
                                            <div>Rose Lewis</div>
                                        </div>
                                    </div>
                                    <div style="display:flex;flex-direction: row;flex-wrap: wrap;height: 30%;">
                                        <div class="d-flex" style="flex-direction: column;"><img
                                                src="~/images/volunteer8.png" alt="" class="volunteer-list-img">
                                            <div>Sarah Santillan</div>
                                        </div>
                                    </div>
                                </div>
                            </li>


                            <li>
                                <div
                                    style="display: flex;flex-wrap: wrap;justify-content: space-around;flex-direction: column;">
                                    <div style="display:flex;flex-direction: row;flex-wrap: wrap;height: 30%;">
                                        <div class="d-flex" style="flex-direction: column;"><img
                                                src="~/images/volunteer3.png" alt="" class="volunteer-list-img">
                                            <div>Kathryn Roberts</div>
                                        </div>
                                    </div>
                                    <div style="display:flex;flex-direction: row;flex-wrap: wrap;height: 30%;">
                                        <div class="d-flex" style="flex-direction: column;"><img
                                                src="~/images/volunteer6.png" alt="" class="volunteer-list-img">
                                            <div>Raymond Pabon</div>
                                        </div>
                                    </div>
                                    <div style="display:flex;flex-direction: row;flex-wrap: wrap;height: 30%;">
                                        <div class="d-flex" style="flex-direction: column;"><img
                                                src="~/images/volunteer9.png" alt="" class="volunteer-list-img">
                                            <div>Linda Richards</div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div
                                    style="display: flex;flex-wrap: wrap;justify-content: space-around;flex-direction: column;">
                                    <div style="display:flex;flex-direction: row;flex-wrap: wrap;height: 30%;">
                                        <div class="d-flex" style="flex-direction: column;"><img
                                                src="~/images/volunteer3.png" alt="" class="volunteer-list-img">
                                            <div>Kathryn Roberts</div>
                                        </div>
                                    </div>
                                    <div style="display:flex;flex-direction: row;flex-wrap: wrap;height: 30%;">
                                        <div class="d-flex" style="flex-direction: column;"><img
                                                src="~/images/volunteer6.png" alt="" class="volunteer-list-img">
                                            <div>Raymond Pabon</div>
                                        </div>
                                    </div>
                                    <div style="display:flex;flex-direction: row;flex-wrap: wrap;height: 30%;">
                                        <div class="d-flex" style="flex-direction: column;"><img
                                                src="~/images/volunteer9.png" alt="" class="volunteer-list-img">
                                            <div>Linda Richards</div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div
                                    style="display: flex;flex-wrap: wrap;justify-content: space-around;flex-direction: column;">
                                    <div style="display:flex;flex-direction: row;flex-wrap: wrap;height: 30%;">
                                        <div class="d-flex" style="flex-direction: column;"><img
                                                src="~/images/volunteer3.png" alt="" class="volunteer-list-img">
                                            <div>Kathryn Roberts</div>
                                        </div>
                                    </div>
                                    <div style="display:flex;flex-direction: row;flex-wrap: wrap;height: 30%;">
                                        <div class="d-flex" style="flex-direction: column;"><img
                                                src="~/images/volunteer6.png" alt="" class="volunteer-list-img">
                                            <div>Raymond Pabon</div>
                                        </div>
                                    </div>
                                    <div style="display:flex;flex-direction: row;flex-wrap: wrap;height: 30%;">
                                        <div class="d-flex" style="flex-direction: column;"><img
                                                src="~/images/volunteer9.png" alt="" class="volunteer-list-img">
                                            <div>Linda Richards</div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div
                                    style="display: flex;flex-wrap: wrap;justify-content: space-around;flex-direction: column;">
                                    <div style="display:flex;flex-direction: row;flex-wrap: wrap;height: 30%;">
                                        <div class="d-flex" style="flex-direction: column;"><img
                                                src="~/images/volunteer3.png" alt="" class="volunteer-list-img">
                                            <div>Kathryn Roberts</div>
                                        </div>
                                    </div>
                                    <div style="display:flex;flex-direction: row;flex-wrap: wrap;height: 30%;">
                                        <div class="d-flex" style="flex-direction: column;"><img
                                                src="~/images/volunteer6.png" alt="" class="volunteer-list-img">
                                            <div>Raymond Pabon</div>
                                        </div>
                                    </div>
                                    <div style="display:flex;flex-direction: row;flex-wrap: wrap;height: 30%;">
                                        <div class="d-flex" style="flex-direction: column;"><img
                                                src="~/images/volunteer9.png" alt="" class="volunteer-list-img">
                                            <div>Linda Richards</div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div
                                    style="display: flex;flex-wrap: wrap;justify-content: space-around;flex-direction: column;">
                                    <div style="display:flex;flex-direction: row;flex-wrap: wrap;height: 30%;">
                                        <div class="d-flex" style="flex-direction: column;"><img
                                                src="~/images/volunteer2.png" alt="" class="volunteer-list-img">
                                            <div>Charles Vigue</div>
                                        </div>
                                    </div>
                                    <div style="display:flex;flex-direction: row;flex-wrap: wrap;height: 30%;">
                                        <div class="d-flex" style="flex-direction: column;"><img
                                                src="~/images/volunteer5.png" alt="" class="volunteer-list-img">
                                            <div>Rose Lewis</div>
                                        </div>
                                    </div>
                                    <div style="display:flex;flex-direction: row;flex-wrap: wrap;height: 30%;">
                                        <div class="d-flex" style="flex-direction: column;"><img
                                                src="~/images/volunteer8.png" alt="" class="volunteer-list-img">
                                            <div>Sarah Santillan</div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div
                                    style="display: flex;flex-wrap: wrap;justify-content: space-around;flex-direction: column;">
                                    <div style="display:flex;flex-direction: row;flex-wrap: wrap;height: 30%;">
                                        <div class="d-flex" style="flex-direction: column;"><img
                                                src="~/images/volunteer2.png" alt="" class="volunteer-list-img">
                                            <div>Charles Vigue</div>
                                        </div>
                                    </div>
                                    <div style="display:flex;flex-direction: row;flex-wrap: wrap;height: 30%;">
                                        <div class="d-flex" style="flex-direction: column;"><img
                                                src="~/images/volunteer5.png" alt="" class="volunteer-list-img">
                                            <div>Rose Lewis</div>
                                        </div>
                                    </div>
                                    <div style="display:flex;flex-direction: row;flex-wrap: wrap;height: 30%;">
                                        <div class="d-flex" style="flex-direction: column;"><img
                                                src="~/images/volunteer8.png" alt="" class="volunteer-list-img">
                                            <div>Sarah Santillan</div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div
                                    style="display: flex;flex-wrap: wrap;justify-content: space-around;flex-direction: column;">
                                    <div style="display:flex;flex-direction: row;flex-wrap: wrap;height: 30%;">
                                        <div class="d-flex" style="flex-direction: column;"><img
                                                src="~/images/volunteer2.png" alt="" class="volunteer-list-img">
                                            <div>Charles Vigue</div>
                                        </div>
                                    </div>
                                    <div style="display:flex;flex-direction: row;flex-wrap: wrap;height: 30%;">
                                        <div class="d-flex" style="flex-direction: column;"><img
                                                src="~/images/volunteer5.png" alt="" class="volunteer-list-img">
                                            <div>Rose Lewis</div>
                                        </div>
                                    </div>
                                    <div style="display:flex;flex-direction: row;flex-wrap: wrap;height: 30%;">
                                        <div class="d-flex" style="flex-direction: column;"><img
                                                src="~/images/volunteer8.png" alt="" class="volunteer-list-img">
                                            <div>Sarah Santillan</div>
                                        </div>
                                    </div>
                                </div>
                            </li>


                        </ul>

                    </main>

                    <div class="pagination-container mt-3 mb-3">
                        <nav
                            style="width:100% ;display: flex;flex-direction: row;justify-content: space-between;border-top: 1px solid gray;border-bottom: 1px solid gray;">

                            <button class="pagination-button" id="prev-button" aria-label="Previous page"
                                title="Previous page" style="border-right: 1px solid gray;">
                                &lt;
                            </button>

                            <div id="pagination-numbers">

                            </div>

                            <button class="pagination-button" id="next-button" aria-label="Next page" title="Next page"
                                style="border-left: 1px solid gray;">
                                &gt;
                            </button>
                        </nav>
                    </div>


                </div>



            </div>

        </div>
    </div>
    </div>

    <hr>

    <div class="container">
        <div class="row">
            <div class="col-12 d-flex mt-3" style="justify-content: center;">
                <h1 style="font-weight: bolder;">Related Missions</h1>
            </div>
            <div id="releatedmissions" class="row" style="margin:0px;">

            </div>

        </div>

    </div>

    <hr>
    <div class="container mt-3">
        <a style="text-decoration: none;color: gray;" href="">Privacy Policy</a>
    </div>
    <hr>
 @section Javascript{

 <script src="~/js/Mission.js" asp-append-version="true"></script>
  }
    